<div class="row">
    <div class="items-container" ng-repeat="item in menu.items">
        <div class="col-sm-4">
            <h4>{{item.name}}</h4>
            <h6>Item index {{$index}}</h6>
            <p>Rating: {{item.rating}}
             <span  ng-if="item.rating > 4.0" 
                   ng-class="{'btn-danger': item.rating > 4.1}"> - People love this item!</span>
            <button ng-click="menu.increment(item)">+</button>
            <button ng-click="menu.decrement(item)">-</button>
            </p>
            <p>Image: {{item.img}}</p>
            <img class="media-left center-block img-circle" ng-src="images/{{item.img}}" alt="{{item.name}}" />

            <p>
                <textarea ng-model="item.newReview" name="menu.review" 
                          rows="3" cols="30"></textarea>
            </p>
            <p>
                {{item.newReview}}
                <span ng-if="!item.newReview">Why not write a review!!!</span>
            </p>

            <div class="well">
                <select ng-model="item.menuCategory" name="">
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                </select>
                <button class="btn-success btn-sm" ng-click="menu.chooseItem(item.menuCategory, item.name)">Select item</button>
            </div>
        </div>
    </div>
</div>